<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main class="container content">
    <hr class="my-3"/>
    <div class="text-center mb-4">
        <h1 class="font-weight-bold">Details</h1>
    </div>
    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Brand</th>
            <td th:text="${#strings.capitalize(session.detailsModel.brand)}"></td>
        </tr>
        <tr>
            <th>Model</th>
            <td th:text="${#strings.capitalize(session.detailsModel.model)}"></td>
        </tr>
        <tr>
            <th>Price</th>
            <td th:text="${session.detailsModel.price} + ' BGN'"></td>
        </tr>
        <tr>
            <th>Origin</th>
            <td th:text="${#strings.capitalize(session.detailsModel.origin)}"></td>
        </tr>
        <tr>
            <th>Color</th>
            <td th:text="${#strings.capitalize(session.detailsModel.color)}"></td>
        </tr>
        <tr>
            <th>Energy Class</th>
            <td th:text="${session.detailsModel.energyClass}"></td>
        </tr>
        <tr>
            <th>Dimensions: Height/Weight/Depth (cm)</th>
            <td th:text="${session.detailsModel.height} + '/' + ${session.detailsModel.width} + '/' + ${session.detailsModel.depth}"></td>
        </tr>
        <tr>
            <th>Power Consumption</th>
            <td th:text="${session.detailsModel.powerConsumption} + ' kW'"></td>
        </tr>
        <tr>
            <th>Capacity</th>
            <td th:text="${session.detailsModel.capacity} + ' KG'"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer class="page-footer font-small indigo">
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>

</html>
