<div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
        <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
                <a href="/contacts">Contact us</a>
            </h6>
        </div>
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
    </div>
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    <div class="row pb-3">
        <div class="col-md-12">
            <div class="mb-5 flex-center">
                <a href="https://www.facebook.com/877440080ivan/?__tn__=kC-R&eid=ARDgWna2epyAHJcX9hBgFCBsM5BcHd9Z2Pc8G3miozjwwfNcfemx6FGA7i16aLhbSyE-yL2S3OraZaI8&hc_ref=ARSd3YAArp5uJudySdDEx2NgBILpdhDTJh1oLqajFtnEyhEnYvAtXnOzKYHvbR4ZyuQ&fref=nf"
                   class="fb-ic">
                    <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright text-center py-3">© 2020 Copyright: SaS Store
</div>
