<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="position-relative d-block my-0 mx-auto overflow-hidden"
         style="width: 940px; height: 600px; clear: both">
        <h1 class="text-danger text-center font-weight-bold m-top-50 ">403 Forbidden</h1>
        <img src="https://66.media.tumblr.com/686e67a054bd5ab1a6cc2ee8a513ef19/tumblr_inline_p5y3gor5rO1rkikdt_500.gif"
             alt="403 Forbidden" class="mx-auto d-block m-top-50">
    </div>
</main>
<footer class="page-footer font-small indigo">
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>
