<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main class="content">
    <h2 class="text-center indigo-color m-top-50">Welcome to Stefanov and Sons Store!</h2>
    <div class="container">
        <div class="text-center">
            <div class="row flex-md-row topics">
                <div class="col text-center">
                    <img alt="refrigerator-img" src="/img/refrigerator.jpg" width="200" height="300">
                    <div>
                        <a href="/products/refrigerators" class="text-black h2"><span
                                class="indigo-color">Refrigerators</span></a>
                    </div>
                </div>
                <div class="col text-center">
                    <img alt="air-conditioner-img" src="/img/airconditioner.jpg" width="200" height="300">
                    <div>
                        <a href="/products/air-conditioners" class="text-black h2"><span class="indigo-color">Air Conditioners</span></a>
                    </div>
                </div>
                <div class="col text-center">
                    <img alt="boiler-img" src="/img/boiler.jpg" width="200" height="300">
                    <div>
                        <a href="/products/boilers" class="text-black h2"><span class="indigo-color">Boilers</span></a>
                    </div>
                </div>
                <div class="col text-center">
                    <img alt="washing-machine-img" src="/img/washingmachine.jpeg" width="200" height="300">
                    <div>
                        <a href="/products/washing-machines" class="text-black h2"><span class="indigo-color">Washing Machines</span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<footer class="page-footer font-small indigo">
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>

</html>
